@model LibraryManagementSystem2.Models.Entity.TBLMEMBERS
@{
    ViewBag.Title = "AddMember";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">
        <label>Member Name</label>
        @*<input type="text" class="form-control" name="MEMBER" />*@
        @Html.TextBoxFor(x => x.NAME, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.NAME, "", new { @style = "color:forestgreen" })
    </div>
    <div style="margin-top:15px">
        <label>Member Surname</label>
        @*<input type="text" class="form-control" name="MEMBER" />*@
        @Html.TextBoxFor(x => x.SURNAME, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.SURNAME, "", new { @style = "color:forestgreen" })
    </div>
    <div style="margin-top:15px">
        <label>Email</label>
        @*<input type="text" class="form-control" name="MEMBER" />*@
        @Html.TextBoxFor(x => x.EMAIL, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.EMAIL, "", new { @style = "color:forestgreen" })
    </div>
    <div style="margin-top:15px">
        <label>Username</label>
        @*<input type="text" class="form-control" name="MEMBER" />*@
        @Html.TextBoxFor(x => x.USERNAME, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.USERNAME, "", new { @style = "color:forestgreen" })
    </div>
    <div style="margin-top:15px">
        <label>Password</label>
        @*<input type="text" class="form-control" name="MEMBER" />*@
        @Html.TextBoxFor(x => x.PASSWORD, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.PASSWORD, "", new { @style = "color:forestgreen" })
    </div>
    <div style="margin-top:15px">
        <label>Photo Link</label>
        @*<input type="text" class="form-control" name="MEMBER" />*@
        @Html.TextBoxFor(x => x.PHOTO, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.PHOTO, "", new { @style = "color:forestgreen" })
    </div>
    <div style="margin-top:15px">
        <label>Phone</label>
        @*<input type="text" class="form-control" name="MEMBER" />*@
        @Html.TextBoxFor(x => x.PHONE, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.PHONE, "", new { @style = "color:forestgreen" })
    </div>
    <div style="margin-top:15px">
        <label>School</label>
        @*<input type="text" class="form-control" name="MEMBER" />*@
        @Html.TextBoxFor(x => x.SCHOOL, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.SCHOOL, "", new { @style = "color:forestgreen" })
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="Btn1">Add Member</button>
    </div>
</form>


