@model LibraryManagementSystem2.Models.Entity.TBLMEMBERS
@{
    ViewBag.Title = "GetMember";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("UpdateMember", "Member", FormMethod.Post))
{
    <div style="margin-bottom:15px"></div>
    <div class="form-group">
        @Html.LabelFor(c => c.ID)
        @Html.TextBoxFor(c => c.ID, new { @class = "form-control" })
        <br />
        @*@Html.LabelFor(c => c.NAME)*@
        <label>Member Name</label>
        @Html.TextBoxFor(c => c.NAME, new { @class = "form-control" })
        <br />
        <label>Member Surname</label>
        @Html.TextBoxFor(c => c.SURNAME, new { @class = "form-control" })
        <br />
        <label>Email</label>
        @Html.TextBoxFor(c => c.EMAIL, new { @class = "form-control" })
        <br />
        <label>Username</label>
        @Html.TextBoxFor(c => c.USERNAME, new { @class = "form-control" })
        <br />
        <label>Password</label>
        @Html.TextBoxFor(c => c.PASSWORD, new { @class = "form-control" })
        <br />
        <label>Photo Link</label>
        @Html.TextBoxFor(c => c.PHOTO, new { @class = "form-control" })
        <br />
        <label>Phone</label>
        @Html.TextBoxFor(c => c.PHONE, new { @class = "form-control" })
        <br />
        <label>School</label>
        @Html.TextBoxFor(c => c.SCHOOL, new { @class = "form-control" })
        <br />
    </div>
    <div>
        <button class="btn btn-warning">Update</button>
    </div>
}


