@using LibraryManagementSystem2.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<TBLMEMBERS>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Members</h2>

<table class="table table-bordered">
    <tr>
        <th>MEMBER ID</th>
        <th>MEMBER NAME</th>
        <th>MEMBER SURNAME</th>
        <th>EMAIL</th>
        <th>SCHOOL</th>
        <th>DELETE</th>
        <th>UPDATE</th>
        <th>BOOK HISTORY</th>
    </tr>
    @foreach (var member in Model)
    {
        <tr>
            <td>@member.ID</td>
            <td>@member.NAME</td>
            <td>@member.SURNAME</td>
            <td>@member.EMAIL</td>
            <td>@member.SCHOOL</td>
            <td><a href="/Member/DeleteMember/@member.ID" class="btn btn-danger">DELETE</a></td>
            <td><a href="/Member/GetMember/@member.ID" class="btn btn-success">UPDATE</a></td>
            <td><a href="/Member/MemberBookHistory/@member.ID" class="btn btn-default" style="background-color:lightblue">BOOK HISTORY</a></td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))


<a href="/Member/AddMember/" class="btn btn-primary">Add New Member</a>
