@using LibraryManagementSystem2.Models.Entity
@model List<TBLMOVEMENT>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Borrowed Book List</h2>

<table class="table table-bordered">
    <tr>
        <th>Transaction ID</th>
        <th>Book Name</th>
        <th>Member</th>
        <th>Staff</th>
        <th>Borrow Date</th>
        <th>Return Date</th>
        <th>Receive Return</th>
    </tr>
    @foreach (var b in Model)
    {
        <tr>
            <td>@b.ID</td>
            <td>@b.TBLBOOK.NAME</td>
            <td>@b.TBLMEMBERS.NAME&nbsp @b.TBLMEMBERS.SURNAME</td>
            <td>@b.TBLSTAFF.STAFF</td>
            <td>@Convert.ToDateTime(b.BORROWDATE).ToString("dd/MM/yyyy")</td>
            <td>@Convert.ToDateTime(b.RETURNDATE).ToString("dd/MM/yyyy")</td>
            <td><a href="/Loan/LoanReturn/@b.ID" class="btn btn-default" style="background-color:#64d8ca; color:white">Return the Book</a></td>
        </tr>
    }
</table>


