@model LibraryManagementSystem2.Models.Entity.TBLMOVEMENT
@{
    ViewBag.Title = "Lend";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">
        <label>Member ID</label>
        @Html.TextBoxFor(b => b.MEMBER, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Book ID</label>
        @Html.TextBoxFor(b => b.BOOK, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Staff ID</label>
        @Html.TextBoxFor(b => b.STAFF, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Book Borrow Date</label>
        <input type="text" class="form-control" name="BORROWDATE" value="@DateTime.Now.ToShortDateString()" />
    </div>
    <div style="margin-top:15px">
        <label>Book Return Date</label>
        <input type="text" class="form-control" name="RETURNDATE" value="@DateTime.Now.AddDays(10).ToShortDateString()" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-group" style="background-color:#a330b5; color:white">Lend the book</button>
        <input type="hidden" value="False" name="TRANSACTIONSTATUS" />
    </div>
</form>

